* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #ffd6e8, #d6f0ff);
    margin: 0;
}

.container {
    text-align: center;
}

/* Stopwatch */

.stopwatch {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 8px solid #ffb6c1;
}

#display {
    font-size: 32px;
    font-weight: bold;
    color: #444;
}

.buttons {
    margin-top: 25px;
}

button {
    border: none;
    padding: 10px 18px;
    margin: 6px;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    color: #333;
    font-weight: #333;
    font-weight: 600;
}

button:hover {
    transform: scale(1.1);
}

.start {
    background-color: #b5ead7;
}

.pause {
    background-color: #ffdac1;
}

.reset {
    background-color: #c7ceea;
}

.lap {
    background-color: #fff1a8;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    max-height: 120px;
    overflow-y: auto;
}

li {
    background: white;
    margin: 5px auto;
    width: 180px;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
